.arix-acf-control-list {
    padding: 0;
}
.arix-acf-control-list .list-group {
    border-radius: 0;
    border: none;
}
.arix-acf-control-list .list-group .list-group-item {
    border-top: none;
}
.arix-acf-control-list .list-group .list-group-item:last-of-type {
    border-bottom: none;
}
li.arix-acf-item {
    font-weight: 600;
}
li.arix-acf-item:hover {
    cursor: pointer;
    color: #0d6efd;
}
.arix-acf-name-card-header {
    padding: 0;
}
.arix-acf-name-input-box {
    border: none;
    padding: 12px;
}
.arix-acf-name-input-box:focus {
    border: none;
    border-color: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.arix-acf-control-settings-rowbox {
    padding-bottom: 20px;
    border-bottom: 1px dashed #959393;
}
.arix-acf-control-settings-rowbox:last-child {
    border-bottom: none;
}
.arix-acf-control-settings-rowbox:not(:first-child) {
    margin-top: 15px;
}
.arix-acf-init-text {
    text-align: center;
}
.arix-acf-init-text span {
    font-size: 40px;
    font-weight: bold;
    color: #ddd;
}
.arix-acf-common-area {
    margin-top: 6px;
}
.arix-acf-common-area label {
    font-size: 14px;
    font-weight: 600;
}
.arix-acf-settings-checkbox {
    margin-top: 16px;
}
.field-is-required, .field-is-repeater {
    margin-right: 5px;
}
.text-right {
    text-align: right;
}
.arix-remove-acf-control-btn {
    color: #dc3545;
}
.arix-acf-extra-settings label {
    font-size: 14px;
    font-style: italic;
}
.arix-acf-param-area label {
    font-size: 14px;
}
.arix-acf-param-area .col-sm-1 {
    text-align: right;
}
.arix-acf-text-sm {
    font-size: 13px;
    font-weight: 600;
}
.arix-acf-option-row .col-sm-1 {
    text-align: right;
}
.arix-option-remove-more-btn, em {
    color: #dc3545;
}